{% extends "layout.html" %}
{% block content %}
    <div class="row bg-lite about shadow">
        <div class="col-lg-6 p-5">
            <p class="title">Who we are</p>
            <p class="lead">Brown APMA DUG is run by a team of undergraduate students who are passionate about math and how it can solve interesting problems in fields such as computer science and economics. If you're interested in joining our team, come to our meetings&mdash;we'd love to chat with you!</p>
        </div>
        <div class="col-lg-6 fit-img">
            <img src="{{ url_for('static', filename='images/castle.PNG') }}" alt="Applied Math Department Castle">
        </div>
    </div>
    <br>
    <div class="row bg-lite about shadow">
        <div class="col-lg-5">
            <img src="{{ url_for('static', filename='images/james_pfp.png') }}" class="img-fluid rounded-circle p-4" alt="james">
        </div>
        <div class="col-lg-7 p-5">
            <p class="title name">Demetri Tsatsaros</p>
            <p class="title-2">President</p>
            <p class="desc">Demetri is a senior concentrating in APMA-CS and Classics. Outside of classes, he is also interested in cooking and powerlifting.</p>
        </div>
    </div>
    <br>
    <div class="row bg-lite about shadow">
        <div class="col-lg-5">
            <img src="{{ url_for('static', filename='images/adam_pfp.jpg') }}" class="img-fluid rounded-circle p-4" alt="adam">
        </div>
        <div class="col-lg-7 p-5">
            <p class="title name">Adam Wang</p>
            <p class="title-2">Technology Chair</p>
            <p class="desc">Adam is a junior planning to study computer science and applied math. He enjoys building web and mobile apps, hiking, and playing the cello. </p>
        </div>
    </div>
{% endblock content %}