{% extends "layout.html" %}
{% block content %}
	<div class="row bg-lite shadow">
        <div class="col-lg-7 fit-img">
		    <img src="{{ url_for('static', filename='images/am_new.jpg') }}" alt="Division of Applied Mathematics Building">
        </div>
        <div class="col-lg-5 p-5">
            <p class="title">Welcome to Brown's Applied Mathematics DUG!</p>
            <p class="lead">As the Departmental Undergraduate Group for applied math at Brown University, we offer ourselves as a resource to students who are interested in math and its wide range of applications.</p>
        </div>
	</div>
    <br>
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center pt-5 pl-5 pr-5">
                <p class="title">What we do</p>
                <p class="desc">We understand that, at Brown, applied math is one of the most popular fields explored by students due to its joint concentrations with computer science, biology, and economics. We're proud to be part of a community of students with such unique backgrounds and a wide range of skills and interests.</p>
                <p class="desc">Our DUG's mission, as such, is to cater to students interested or concentrating in APMA by promoting diversity and inclusivity, hosting events for advising and learning, and creating opportunities for career development and networking. We invite you to explore our website, attend our student-hosted meetings, and <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScfR3iQATYWlz6feFKoV_B_L_55tR_SPqtw9VRGs03FP1zg0A/viewform">join our mailing list</a> to receive important updates about upcoming events and opportunities.</p>
            </div>
        </div>
        <div class="pl-4 pr-4 pb-2">
            <div class="row">
                <div class="col-lg p-3">
                    <div class="text-center light-box red p-4" onclick="window.location.href = '{{ url_for('main.events') }}'">
                        <p class="title-2">Meetings & Events</p>
                        <p class="box-desc">We plan to host bi-weekly meetings throughout the year, as well as occasional events such as professor talks or networking opportunities. Due to COVID-19, all meetings and events will be hosted virtually for the fall semester; we plan to post meeting recaps for those who cannot attend.</p>
                    </div>
                </div>
                <div class="col-lg p-3">
                    <div class="text-center light-box yellow p-4" onclick="window.location.href = '{{ url_for('main.opportunities') }}'">
                        <p class="title-2">Opportunities</p>
                        <p class="box-desc">The APMA department offers research opportunities and other undergraduate programs which we've compiled for your convenience. We also post information on contests such as the Brown Math Contest for Modeling, as well as exclusive job and internship opportunities.</p>
                    </div>
                </div>
                <div class="col-lg p-3">
                    <div class="text-center light-box blue p-4" onclick="window.location.href = '{{ url_for('main.resources') }}'">
                        <p class="title-2">Resources</p>
                        <p class="box-desc">There are many great resources for students interested or concentrating in APMA, such as APMA Peer Advising, course catalogs, and handbooks. We encourage you to take advantage of these resources provided by organizations outside of AMDUG.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}