{% extends "layout.html" %}
{% block content %}
	<div class="row bg-light">
        <div class="col-lg-6 p-4">
		    <img src="{{ url_for('static', filename='images/am_new.jpg') }}" class="img-fluid" alt="AMDUG">
        </div>
        <div class="col-lg-6 p-4 pt-5">
            <p class="title">Welcome to Brown's Applied Mathematics DUG!</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
	</div>
    <br>

    <div class="row bg-light">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center mt-5">
                <h2>What we do</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <hr/>
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <br>

{% endblock content %}