{% extends "layout.html" %}
{% block content %}
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title">Opportunities</p>
                <p class="lead">Relevant opportunities for both APMA concentrators and non-concentrators will be continually updated on this page. If you would like to submit an opportunity or would like to learn more, feel free to contact us <a href="{{ url_for('main.contact') }}">here</a>.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Research</p>
                <p class="lead"></p>
                http://www.ams.org/opportunities
                https://icerm.brown.edu/summerug/#upcomingprograms
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Directed Reading Program</p>
                <p class="lead"></p>
                http://www.dam.brown.edu/drp/index.html
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Internships and Jobs</p>
                <p class="lead"></p>
                https://www.siam.org/careers/internships
                https://www.brown.edu/campus-life/support/careerlab/post_grad_data/list
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Contests</p>
                <p class="lead"></p>
                http://www.dam.brown.edu/siam/bmcm.html
            </div>
        </div>
    </div>
    <br>
{% endblock content %}