{% extends "layout.html" %}
{% block content %}
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title">Opportunities</p>
                <p class="lead">Relevant opportunities for both APMA concentrators and non-concentrators will be continually updated on this page. <a target="_blank" href="https://forms.gle/Mi73mUp8BgCeGzPs7">Join our mailing list</a> to be notified of important updates. If you would like to submit an opportunity or would like to learn more, contact us <a href="{{ url_for('main.contact') }}">here</a>.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Research</p>
                <p>Undergraduate students at Brown can do research with professors in the APMA department. We highly recommend interested individuals to visit <a target="_blank" href="https://appliedmath.brown.edu/research/research-areas">Brown APMA Research Areas</a> and <a target="_blank" href="https://appliedmath.brown.edu/research/research-groups">Brown APMA Research Groups</a> to find a research area/group that interests you and to reach out to them.</p>
                <p>The <a target="_blank" href="https://www.ams.org/opportunities">American Mathematical Society</a> has a listing of research programs as well as research awards that students may apply for.</p>
                <p>Brown University's <a target="_blank" href="https://icerm.brown.edu/summerug/#upcomingprograms">Summer@ICERM</a> is an eight-week residential program designed for a selected group of 18-22 undergraduate scholars.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Directed Reading Program</p>
                <p><a target="_blank" href="https://www.dam.brown.edu/drp">The Directed Reading Program</a> is an independent reading program hosted by the Brown Division of Applied Mathematics. The overview of the program is as follows: "The Directed Reading Program provides undergraduates with the opportunity to work one-on-one with graduate students and post-docs in the Division of Applied Mathematics (APMA) on independent reading projects. It is a fantastic opportunity for motivated undergraduates to learn new mathematical & computational skills, forge connections with graduate students, and explore higher level mathematics outside of the undergraduate curriculum."<p>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Internships and Jobs</p>
                <p>The Society for Industrial and Applied Mathematics keeps a <a target="_blank" href="https://www.siam.org/careers/internships">comprehensive listing of careers and internships</a> that use applied math. A broad range of industries, from software to biotech to finance, are included, featuring many Fortune 100 companies that are looking to hire students.</p>
                <p>For those interested, post-graduate career data is available on <a target="_blank" href="https://www.brown.edu/campus-life/support/careerlab/post_grad_data/list">CareerLAB's website</a>.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row bg-lite shadow">
        <div class="col-lg-12">
            <div class="text-center p-5">
                <p class="title-2">Competitions and Contests</p>
                <p>The Brown Division of Applied Mathematics hosts the annual <a target="_blank" href="https://www.dam.brown.edu/siam/bmcm.html">Brown Mathematical Contest for Modeling</a>. The overview of the program is as follows: "The BMCM is a competition where a team of three undergraduates creates, analyzes, and writes a report on a mathematical model for an open-ended real world problem over the span of a weekend. Faculty, postdocs and graduate students in the Division of Applied Mathematics will then judge the reports on merits such as practicality of the model, and clarity of the report. The top 2 teams from the Brown competition will be sponsored by the Division of Applied Mathematics to compete in the International MCM Competition organized by COMAP. Students from all over the world participate in this contest!".</p>
            </div>
        </div>
    </div>
{% endblock content %}