{% extends "layout.html" %}
{% block content %}
    <div class="row bg-light shadow">
        <div class="col-lg-12">
            <div class="text-center pt-5 pl-5 pr-5">
                <p class="title">Resources</p>
            </div>
        </div>
        <div class="col-lg-12">
            <hr/>
        </div>
        <div class="col-lg-12">
            <div class="text-center pt-4 pb-5 pl-5 pr-5">
                <p class="title-2">General</p>
                <div class="row resources">
                    <div class="col-xl p-2">
                        <div class="light-box p-2 red" onclick="window.open('https://www.brown.edu/initiatives/data-science/apma-peer-advising', '_blank');"><p class="lead">APMA Peer Advising</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 red" onclick="window.open('https://bulletin.brown.edu/the-college/concentrations/', '_blank');"><p class="lead">Concentration Reqs.</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 red" onclick="window.open('https://cab.brown.edu/', '_blank');"><p class="lead">Courses @ Brown</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 red" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/sites/brown.edu.academics.applied-mathematics/files/uploads/Undergraduate%20Handbook%20March%202020_1.pdf', '_blank');"><p class="lead">APMA Handbook</p>
                        </div>
                    </div>
                </div>
                <br>
                <p class="title-2">Brown Division of Applied Mathematics</p>
                <div class="row resources">
                    <div class="col-xl p-2">
                        <div class="light-box p-2 yellow" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/', '_blank');"><p class="lead">Main Page</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 yellow" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/course-catalogue', '_blank');"><p class="lead">Course Listing</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 yellow" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/events', '_blank');"><p class="lead">Events</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 yellow" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/seminars', '_blank');"><p class="lead">Seminars</p>
                        </div>
                    </div>
                    <div class="col-xl p-2">
                        <div class="light-box p-2 yellow" onclick="window.open('https://www.brown.edu/academics/applied-mathematics/research-groups');"><p class="lead">Research Groups</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}